---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeadlineSection from "../components/HeadlineSection.astro";
import PricingSection from "../components/PricingSection.astro";
import FeatureSummary from "../components/FeatureSummary.astro";

const pageTitle = "Datadog | Home";
---

<BaseLayout pageTitle={pageTitle}>
	<main class="grow p-8 lg:grid xl:grid-cols-2 bg-white">
		<section class="col-span-2 xl:flex">
			<HeadlineSection />

			<!-- custom text colors assigned below so that Tailwind will generate CSS that is leveraged variably in the PricingTier component -->
			<PricingSection class="text-datadogGreen text-datadogRed"/>
		</section>

		<section class="bg-[url('/images/feature-apm.jpg')] bg-cover min-h-64 flex justify-center hover:text-datadogGreen">
			<FeatureSummary featureName="APM", featureTagline="Get full visibility into modern applications"/>
		</section>

		<section class="bg-[url('/images/feature-infra.jpg')] bg-cover min-h-64 flex justify-center hover:text-datadogPurple">
			<FeatureSummary featureName="Infrastructure", featureTagline="See across systems, apps, and services"/>
		</section>

		<section class="bg-[url('/images/feature-logs.jpg')] bg-cover min-h-64 flex justify-center hover:text-datadogRed">
			<FeatureSummary featureName="Logs Management", featureTagline="Analyze and explore log data in context"/>
		</section>
	</main>
</BaseLayout>
