---
const { ctaText } = Astro.props;
const ctaStyles = 'block w-full border-datadogPurple border-2 p-6 my-4 text-datadogPurple uppercase font-semibold text-xl text-center hover:bg-datadogPurple hover:text-white';
---

<a class={ctaStyles} href="#">{ctaText}</a>