<div class="block p-6 sm:p-10 bg-neutral-100">

    <div id="my-carousel" class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                <li class="glide__slide">
                    <label class="inline-block uppercase text-xs pb-3 xl:pb-5 sm:text-[11px] text-datadogPurple">Observability</label>
                    <h3 class="my-2 text-2xl leading-relaxed lg:text-3xl">With turn-key integrations, Datadog seamlessly aggregates metrics and events across the full devops stack</h3>
                    <a class="text-datadogPurple underline hover:font-bold" href="#">Read More</a>
                    <img class="mt-8" src="/images/carousel-observability.png" alt="screenshot of Datadog's collection of observability tools" />
                </li>
                <li class="glide__slide">
                    <label class="inline-block uppercase text-xs pb-3 xl:pb-5 sm:text-[11px] text-datadogGreen">Dashboards</label>
                    <h3 class="my-2 text-2xl leading-relaxed lg:text-3xl">Save time and visualize your Amazon ELB data in minutes with Datadog's out-of-the-box dashboard.</h3>
                    <a class="text-datadogGreen underline hover:font-bold" href="#">Read More</a>
                    <img class="mt-8" src="/images/carousel-dashboard.png" alt="screenshot of Datadog's Amazon ELB dashboard" />
                </li>
                <li class="glide__slide">Slide Three</li>
            </ul>
        </div>
    </div>

    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
    </div>

</div>


<script>
    import Glide from '@glidejs/glide';

    var myCarousel = new Glide('#my-carousel', {
        type: 'slider',
        rewind: false,
        startAt: 0,
        perView: 1
    }).mount();

    document.querySelector(".glide__arrow--right").addEventListener("click", () => {
        myCarousel.go(">");
    });

    document.querySelector(".glide__arrow--left").addEventListener("click", () => {
        myCarousel.go("<");
    });

</script>