---
const ctaStyles = 'p-2 text-lg block whitespace-nowrap md:w-full max-w-md border-datadogPurple border-2 my-0 md:p-4 lg:p-6 md:my-4 text-datadogPurple uppercase font-semibold md:text-xl text-center hover:bg-datadogPurple hover:text-white';
---

<div class="grid grid-cols-4 mb-8 lg:grid-cols-3 xl:block">
    <h1 class="col-span-4 lg:col-span-2 lg:mr-10 text-4xl leading-snug font-semibold mb-2 lg:text-5xl lg:leading-tight lg:mb-4">
        Modern monitoring & analytics
    </h1>
    <h2 class="col-span-3 text-xl md:col-span-2 lg:col-span-3 mr-10 md:text-2xl leading-snug lg:text-3xl lg:leading-normal">
        See inside any stack, any app, at any scale, anywhere.
    </h2>
    <div class="md:col-span-2 lg:col-start-3 lg:row-start-1">
        <a class={ctaStyles} href="#">Try Free</a>
    </div>
</div>