---
const siteSections = [
    'Product',
    'Docs',
    'Pricing',
    'Customers',
    'About',
    'Blog'
];
---
<div class="flex w-full h-24 p-4 md:px-0 md:py-8 justify-between md:w-40 md:h-fit md:shrink-0 md:flex-col md:justify-start md:space-y-10 md:items-center bg-datadogPurple text-white text-sm">
    <img class="px-4 object-scale-down md:object-none" src="/images/datadog-logo-v.png" alt="Datadog logo">

    <div class="flex flex-col justify-between items-end md:flex-col md:space-x-0 md:space-y-10 md:items-start md:w-full ">
        <!-- navigation for desktop & tablet screens -->
        <nav class="w-full uppercase font-bold hidden md:block">
            <menu class="">
                {siteSections.map((section) => <li class="w-full px-4 py-3 hover:bg-lightPurple hover:text-datadogPurple"><a href="#">{section}</a></li>)}
            </menu>
        </nav>

        <a class="md:px-4 hover:underline" href="#">Login</a>

        <!-- navigation for mobile screens -->
        <nav class="relative uppercase font-bold md:hidden" x-data="{ open:false }">
            <a href="#" @click="open =! open">Menu</a>
            <menu 
                class="absolute top-[36px] right-[-16px] z-10 bg-datadogPurple text-right" x-show="open" @click.outside="open=false">
                {siteSections.map((section) => <li class="p-4 hover:bg-lightPurple hover:text-datadogPurple"><a href="#">{section}</a></li>)}
            </menu>
        </nav>
    </div>
</div>
