---
const siteSections = [
    'Product',
    'Docs',
    'Pricing',
    'Customers',
    'About',
    'Blog'
];
---
<div class="w-40 p-4 flex flex-col space-y-10 items-start bg-datadogPurple text-white text-sm">
    <img class="object-none" src="src/images/datadog-logo-v.png" alt="Datadog logo">

    <nav class="uppercase font-bold">
        <menu>
            {siteSections.map((section) => <li class="py-3"><a href="#">{section}</a></li>)}
        </menu>
    </nav>

    <a href="#">Login</a>
</div>
