---
const siteSections = [
    'Product',
    'Docs',
    'Pricing',
    'Customers',
    'About',
    'Blog'
];
---

<!-- LOGO HERE -->

<nav class="bg-purple-700 text-white">
    <menu>
        {siteSections.map((section) => <li><a href="#">{section}</a></li>)}
    </menu>
</nav>

<a href="#">Login</a>