---
const siteSections = [
    'Product',
    'Docs',
    'Pricing',
    'Customers',
    'About',
    'Blog'
];
---
<div class="w-48 p-4 bg-datadogPurple text-white text-sm">
    <!-- LOGO HERE -->

    <nav class="uppercase font-bold">
        <menu>
            {siteSections.map((section) => <li class="py-3"><a href="#">{section}</a></li>)}
        </menu>
    </nav>

    <a href="#">Login</a>
</div>
