---
const siteSections = [
    'Product',
    'Docs',
    'Pricing',
    'Customers',
    'About',
    'Blog'
];
---
<div class="flex w-full h-24 p-4 sm:px-0 sm:py-8 justify-between sm:w-40 sm:h-fit sm:shrink-0 sm:flex-col sm:justify-start sm:space-y-10 sm:items-center bg-datadogPurple text-white text-sm">
    <img class="px-4 object-scale-down sm:object-none" src="/images/datadog-logo-v.png" alt="Datadog logo">

    <div class="flex flex-col justify-between items-end sm:flex-col sm:space-x-0 sm:space-y-10 sm:items-start sm:w-full ">
        <!-- navigation for desktop & tablet screens -->
        <nav class="w-full uppercase font-bold hidden sm:block">
            <menu class="">
                {siteSections.map((section) => <li class="w-full px-4 py-3 hover:bg-lightPurple hover:text-datadogPurple"><a href="#">{section}</a></li>)}
            </menu>
        </nav>

        <a class="sm:px-4 hover:underline" href="#">Login</a>

        <!-- navigation for mobile screens -->
        <nav class="relative uppercase font-bold sm:hidden" x-data="{ open:false }">
            <a href="#" @click="open =! open">Menu</a>
            <menu 
                class="absolute top-[36px] right-[-16px] z-10 bg-datadogPurple text-right" x-show="open" @click.outside="open=false">
                {siteSections.map((section) => <li class="p-4 hover:bg-lightPurple hover:text-datadogPurple"><a href="#">{section}</a></li>)}
            </menu>
        </nav>
    </div>
</div>
