---
const { tierName, tierPrice, tierDescription } = Astro.props;
---

<div class="py-10 first:pt-0 last:pb-0">
    <label class="inline-block uppercase text-xs pb-5">{tierName}</label>
    <p>Starting at <span class="block py-3 text-5xl font-bold">${tierPrice}</span> <small class="text-sm">Per host, per month<sup>*</sup></small></p>
    <p class="py-5">{tierDescription}</p>
    <slot />
    <a class="block pt-10 underline" href="#">See Details</a>
</div>